// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


//WebSite colors
$bg-color: #FFE9DE;
$font-color: #CA7D57;
$dark-font-color: #3A2216;
$division: #FBD8A4;
$primary-font:  rgba(20, 20, 20, 0.808);
$button-color:  #f8ceb9;
$border-color:  rgb(218, 149, 149);
