@import './variables';

%checkChange {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    vertical-align: middle;
    margin-right: 3px;
    border: 1px solid $border-color;
}

input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label::before {
    @extend %checkChange;
}
input[type="checkbox"]:checked + label::before {
    @extend %checkChange;
    background: rgb(224, 140, 140);
}