
@import './../../sass/variables';

.content {
    display: grid;
    // testar a width com 84.5% e centralizar com a margin
    //width: 100%;
    max-width: 84.5vw;
    width: 84.5%;
    height: 100%;
    margin: 0 auto;
    //grid-template-columns: repeat(2, 147px);
    grid-template-columns: repeat(auto-fit, minmax(147px, 1fr));
    grid-auto-rows: minmax(200px, 1fr);
    column-gap: 5px;
    row-gap: 10px;
    gap: 10px;
    justify-content: center;
}

.card {
    margin-top: 10px;
    /*width: 147px;
    height: 200px;*/
    //border: 1px solid rgb(243, 165, 165);
    border: 1px solid $border-color;
    border-radius: 5px;
}

.img {
    position: relative;
    width: 100%;
    //height: 130px;
    height: 64.35%;
    border-bottom: 1px solid $border-color;
}

.card-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 35.65%;
    justify-content: space-between;
    h6 {
        //font-size: 21px;
        font-size: 1.3125em;
        font-weight: 700;
    }
    span {
        font-weight: 400;
    }
    button {
        font-weight: 800;
        width: 100%;
        background: #f8ceb9;
        border-radius: 0 0 5px 5px;
        padding: 2px;
        margin-top: 3px;
    }
}
.fav-wrapper {
    color: $border-color;
}
