
@import './../../../sass/variables';
@import './blur.scss';

.wrapper {
    position: absolute;
    top: 20%;
    z-index: 9999;
    width: 84.5%;
    
    form {
        padding: 10px;
        background: #FFE9DE;
        width: 100%;
        max-width: 350px;
        display: flex;
        flex-direction: column;
        border: 1px solid $border-color;
        margin: 0 auto;
    }
    h1 {
        width: 95%;
        margin: 0 auto;
    }
    .field {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 95%;
        margin: 3px;
    }
    .categories-wrapper {
        align-self: center;
        width: 95%;
        margin-top: 4px;
        margin-bottom: 4px;
    }
    button {
        background: $button-color;
        margin: 5px auto 0 auto;
        width: 95%;
        border: 1px solid $border-color;
    }
    input[type="text"] {
        //align-self: center;
        border: 1px solid $border-color;
        //margin: 2px;
        //width: 95%;
    }
    input[type="checkbox"] {
        display: none;
    }
    input[type="checkbox"] + label::before {
        content: "";
        display: inline-block;
        width: 13px;
        height: 13px;
        margin-right: 3px;
        border: 1px solid $border-color;
        vertical-align: middle;
    }
    input[type="checkbox"]:checked + label::before {
        content: "";
        display: inline-block;
        width: 13px;
        height: 13px;
        margin-right: 3px;
        border: 1px solid $border-color;
        background: rgb(224, 140, 140);
        vertical-align: middle;
    }
    textarea {
        resize: none;
    }
    input[type="file"] {
        display: none;
    }

    input[type="file"] + label {
        display: inline-flex;
        align-items: center;
        padding: 3px 3px 3px 8px;
        width: 60%;
        height: 27px;
        margin-left: 8px;
        background: #f8ceb9;
        border: 1px solid #da9595;
        text-align: center;
        font-weight: bold;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    input[type="file"] + label svg {
        margin-right: 4px;
    }
    
}
